:root {
    --default-height: 40px;
}

#header,
#footer {
    height: var(--default-height);
    background-color: yellowgreen;
}

#primer_contenedor div.col>div {
    height: var(--default-height);
    background-color: violet;
}

#segundo_contenedor div.col>div {
    height: calc(var(--default-height) * 4);
    background-color: tomato;
}

#tecer_contenedor div.col>div {
    height: calc(var(--default-height) * 2);
    background-color: blue;
}